<div
  class="flex items-center w-full px-4 pt-4 pb-10 card bg-gray-200 dark:bg-base-200 text-gray-700 dark:text-neutral-content">
  <div class="card glass lg:card-side mb-8 w-full">
    <% if (campground.images.length===1) { %>
      <%- include("carousel_static") %>
        <% } else { %>
          <%- include("carousel_slide") %>
            <% } %>
              <div class="basis-2/6 card-body">
                <h2 class="card-title">
                  Campground title: <%= campground.title %>
                </h2>
                <h2 class="card-title">
                  Author: <%= campground.author.username %>
                </h2>
                <h2>
                  Location: <%= campground.location %>
                </h2>
                <h2>$<%= campground.price %>
                </h2>
                <p>
                  <%= campground.description %>
                </p>
                <% if (currentUser && currentUser.user.username===campground.author.username) { %>
                  <div class="card-actions mt-auto">
                    <a href="/campgrounds/<%= campground._id %>/edit"
                      class="btn text-gray-700 dark:text-neutral-content glass rounded-full">Edit</a>
                    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
                      <button type="submit"
                        class="btn text-gray-700 dark:text-neutral-content glass rounded-full">Delete</button>
                    </form>
                    <a href="/campgrounds" class="btn text-gray-700 dark:text-neutral-content glass rounded-full">Back
                      to All Campgrounds</a>
                  </div>
                  <% } else {%>
                    <div class="card-actions mt-auto">
                      <a href="/campgrounds" class="btn text-gray-700 dark:text-neutral-content glass rounded-full">Back
                        to All Campgrounds</a>
                    </div>
                    <% } %>
              </div>
  </div>
  <div class="w-full">
    <h2 class="mb-4">Reviews</h2>
    <form action="/campgrounds/<%= campground._id %>/review" method="POST" class="max-w-xl mb-12">
      <div class="mb-4 flex flex-col gap-4">
        <label for="review">Add review</label>
        <textarea cols="50" class="textarea textarea-bordered" name="body" placeholder="Review" id="review"></textarea>
      </div>
      <div class="mb-12 flex flex-col gap-4">
        <p>Rating</p>
        <div class="rating rating-lg">
          <input type="radio" name="rating" class="mask mask-star text-yellow-300 !bg-none bg-yellow-300" value="1">
          <input type="radio" name="rating" class="mask mask-star text-yellow-300 !bg-none bg-yellow-300" value="2"
            checked>
          <input type="radio" name="rating" class="mask mask-star text-yellow-300 !bg-none bg-yellow-300" value="3">
          <input type="radio" name="rating" class="mask mask-star text-yellow-300 !bg-none bg-yellow-300" value="4">
          <input type="radio" name="rating" class="mask mask-star text-yellow-300 !bg-none bg-yellow-300" value="5">
        </div>
      </div>
      <button type="submit" class="btn text-gray-700 dark:text-neutral-content glass rounded-full block">Submit</button>
    </form>
    <!-- <div class="card glass lg:card-side text-neutral-content"> -->
    <% for (review of campground.reviews) { %>
      <div class="card glass gap-4 p-4 mb-4">
        <p class="capitalize font-bold text-xl">
          <%= review.author.username %>
        </p>
        <p>
          <%= review.body %>
        </p>
        <div class="flex">
          <% for (let i=1; i <=5; i++) {%>
            <% if (i <=review.rating) { %>
              <div class="mask mask-star text-yellow-300 bg-yellow-300 h-5 w-5"></div>
              <% } else { %>
                <div class="mask mask-star text-yellow-300 bg-yellow-300 h-5 w-5 opacity-20"></div>
                <% } %>
                  <% } %>
        </div>
        <% if (currentUser && currentUser.user.username===review.author.username) { %>
          <form action="/campgrounds/<%= campground._id %>/review/<%= review._id %>?_method=DELETE" method="POST">
            <button type="submit">DELETE</button>
          </form>
          <% } %>
      </div>
      <% } %>
        <!-- </div> -->
  </div>
</div>
<div id='map' class="w-full h-80"></div>
<script>
  const campground = '<%- JSON.stringify(campground) %>'
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
</script>