<div class="flex items-center w-full px-4 py-10 bg-cover card bg-base-200"
  style="background-image: url(&quot;https://picsum.photos/id/314/1000/300&quot;);">
  <div class="card glass lg:card-side text-neutral-content mb-8">
    <figure class="p-6">
      <img src="<%= image %> " class="rounded-lg shadow-lg max-w-3xl">
    </figure>
    <div class="max-w-md card-body">
      <h2 class="card-title">
        Campground title: <%= title %>
      </h2>
      <h2 class="card-title">
        Author: <%= author.username %>
      </h2>
      <h2>
        Location: <%= location %>
      </h2>
      <h2>$<%= price %>
      </h2>
      <p>
        <%= description %>
      </p>
      <% if (currentUser && currentUser.user.username===author.username) { %>
        <div class="card-actions mt-auto">
          <a href="/campgrounds/<%= _id %>/edit" class="btn glass rounded-full">Edit</a>
          <form action="/campgrounds/<%= _id %>?_method=DELETE" method="post">
            <button type="submit" class="btn glass rounded-full">Delete</button>
          </form>
        </div>
        <% } %>
          <a href="/campgrounds" class="btn glass rounded-full">Back to All Campgrounds</a>
    </div>
  </div>
  <div class="w-full">
    <h2 class="mb-4">Reviews</h2>
    <form action="/campgrounds/<%= _id %>/review" method="POST" class="max-w-xl">
      <div class="mb-4">
        <label for="review">Add review</label>
        <textarea cols="50" class="textarea textarea-bordered" name="body" placeholder="Review" id="review"></textarea>
      </div>
      <div class="mb-4">
        <p>Rating</p>
        <div class="rating">
          <input type="radio" name="rating" class="mask mask-star text-yellow-300 !bg-none bg-yellow-300" value="1">
          <input type="radio" name="rating" class="mask mask-star text-yellow-300 !bg-none bg-yellow-300" value="2"
            checked>
          <input type="radio" name="rating" class="mask mask-star text-yellow-300 !bg-none bg-yellow-300" value="3">
          <input type="radio" name="rating" class="mask mask-star text-yellow-300 !bg-none bg-yellow-300" value="4">
          <input type="radio" name="rating" class="mask mask-star text-yellow-300 !bg-none bg-yellow-300" value="5">
        </div>
      </div>
      <button type="submit" class="btn glass rounded-full block">Submit</button>
    </form>
    <!-- <div class="card glass lg:card-side text-neutral-content"> -->
    <% for (review of reviews) { %>
      <div class="card glass text-neutral-content gap-4 p-4 mb-4">
        <li>
          <%= review.author.username %>
        </li>
        <li>
          <%= review.body %>
        </li>
        <div class="flex">
          <% for (let i=1; i <=5; i++) {%>
            <% if (i <=review.rating) { %>
              <div class="mask mask-star text-yellow-300 bg-yellow-300 h-5 w-5"></div>
              <% } else { %>
                <div class="mask mask-star text-yellow-100 bg-yellow-100 h-5 w-5"></div>
                <% } %>
                  <% } %>
        </div>
        <% if (currentUser && currentUser.user.username===review.author.username) { %>
          <form action="/campgrounds/<%= _id %>/review/<%= review._id %>?_method=DELETE" method="POST">
            <button type="submit">DELETE</button>
          </form>
          <% } %>
      </div>
      <% } %>
        <!-- </div> -->
  </div>
</div>