<div class="flex items-center w-full px-4 py-10 bg-cover card bg-base-200"
  style="background-image: url(&quot;https://picsum.photos/id/314/1000/300&quot;);">
  <div class="card glass lg:card-side text-neutral-content mb-8">
    <figure class="p-6">
      <img src="<%= image %> " class="rounded-lg shadow-lg max-w-3xl">
    </figure>
    <div class="max-w-md card-body">
      <h2 class="card-title">
        Campground title: <%= title %>
      </h2>
      <h2 class="card-title">
        Author: <%= author.username %>
      </h2>
      <h2>
        Location: <%= location %>
      </h2>
      <h2>$<%= price %>
      </h2>
      <p>
        <%= description %>
      </p>
      <% if (currentUser && currentUser.user.username===author.username) { %>
        <div class="card-actions mt-auto">
          <a href="/campgrounds/<%= _id %>/edit" class="btn glass rounded-full">Edit</a>
          <form action="/campgrounds/<%= _id %>?_method=DELETE" method="post">
            <button type="submit" class="btn glass rounded-full">Delete</button>
          </form>
        </div>
        <% } %>
          <a href="/campgrounds" class="btn glass rounded-full">Back to All Campgrounds</a>
    </div>
  </div>
  <div class="w-full">
    <h2 class="mb-4">Reviews</h2>
    <form action="/campgrounds/<%= _id %>/review" method="POST" class="max-w-xl">
      <div class="mb-4">
        <label for="review">Add review</label>
        <textarea cols="50" class="textarea textarea-bordered" name="body" placeholder="Review" id="review"></textarea>
      </div>
      <div class="mb-4">
        <label for="rating">Rating</label>
        <input type="range" min="0" max="5" value="1" class="range" step="1" name="rating" id="rating">
        <div class="w-full flex justify-between text-xs px-2">
          <span><svg class="w-10 h-10 text-yellow-300" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
              </path>
            </svg></span>
          <span><svg class="w-10 h-10 text-yellow-300" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
              </path>
            </svg></span>
          <span><svg class="w-10 h-10 text-yellow-300" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
              </path>
            </svg></span>
          <span><svg class="w-10 h-10 text-yellow-300" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
              </path>
            </svg></span>
          <span><svg class="w-10 h-10 text-yellow-300" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
              </path>
            </svg></span>
        </div>
      </div>
      <button type="submit" class="btn glass rounded-full block">Submit</button>
    </form>
    <!-- <div class="card glass lg:card-side text-neutral-content"> -->
    <% for (review of reviews) { %>
      <div class="card glass text-neutral-content gap-4 p-4 mb-4">
        <li>
          <%= review.author.username %>
        </li>
        <li>
          <%= review.body %>
        </li>
        <li>
          <%= review.rating %>
        </li>
        <% if (currentUser && currentUser.user.username===review.author.username) { %>
          <form action="/campgrounds/<%= _id %>/review/<%= review._id %>?_method=DELETE" method="POST">
            <button type="submit">DELETE</button>
          </form>
          <% } %>
      </div>
      <% } %>
        <!-- </div> -->
  </div>
</div>