<%- layout("layouts/boilerplate.ejs") %>
  <div id='map' class="w-full h-96"></div>
  <h1 class="text-2xl font-bold underline text-center my-3">All campgrounds</h1>
  <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-4">
    <%- include("../partials/camp_card")%>
  </section>
  <section class="flex w-full justify-between">
    <% if (pagination.page==="1" || !pagination.page ) { %>
      <a href="/campgrounds/?page=<%= Number(pagination.page) - 1 %>&limit=9"
        class="pointer-events-none opacity-75 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Prev</a>
      <% } else { %>
        <a href="/campgrounds/?page=<%= Number(pagination.page) - 1 %>&limit=9"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Prev</a>
        <% } %>
          <% const maxPage=Math.ceil(allCampgrounds.length / pagination.limit) %>
            <% if (pagination.page==maxPage) {%>
              <a href="/campgrounds/?page=<%= Number(pagination.page) + 1 %>&limit=9"
                class="pointer-events-none opacity-75 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Next</a>
              <% } else if (!pagination.page){ %>
                <a href="/campgrounds/?page=2&limit=9"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Next</a>
                <% } else { %>
                  <a href="/campgrounds/?page=<%= Number(pagination.page) + 1 %>&limit=9"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Next</a>
                  <% } %>
  </section>
  <script>
    const campgrounds = '<%- JSON.stringify(allCampgrounds) %>'
  </script>
  <script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
  </script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
  <script src="/js/mapbox-cluster.js"></script>